head(lang='en-us')
  meta(charset='utf-8')
  title Gulp Starter
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='type/x-icon' href='/favicon.ico')
  link(rel='apple-touch-icon' href='/apple-touch-icon.png')
  <!-- remove next line if you want to use style injection instead -->
  link(rel='stylesheet' href='/style.css')
  <!-- inject-style src="./dist/style.css" -->