/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* END BOX MODEL SETTINGS */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

body {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
  color: #343741;
  margin: 0;
  padding: 0; }

p {
  color: #343741; }

a {
  color: #b7006a;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  a:hover {
    color: #980058; }

.button-reset {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  vertical-align: baseline;
  border-radius: 0; }

button, a.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: block;
  background-color: #b7006a;
  color: white;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  line-height: 1.2em;
  max-width: 280px; }
  button:hover, a.button:hover {
    background-color: #980058; }
